@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.Header {
	display: flex;
	justify-content: center;
	background-color: white;
}

.App {
  	text-align: center;
}

/* ----CharacterListPage Styling---- */
.CharactersListPage {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
	height: 100%;
	background-color: black;
	color: white;
}

.CharactersListTitle {
    margin: 2%;
	margin-top: 14%;
}

.CharacterTitleText {
    font-size: 2em;
    color: white;
}

.SearchButton {
	background-color: red;
	border: 1px solid red;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.ResultsContainer {
	background: black;
	display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
	margin-top: 3%;
}

.CharacterListContainer {
	background: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
	padding-bottom: 2%;
}

.CharacterList {
    display: flex;
    flex-direction: column;
    padding: 2%;
	max-width: 20%;
}

.CharacterName {
	color: white;
}

.NextButtonContainer {
	background-color: black;
	padding-bottom: 5%;
}

.NextButton {
	background-color: red;
	border: 1px solid red;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.CharacterListAttributionContainer {
	margin-bottom: 5%;
}

/* ----CHARACTERSHOWPAGE STYLING---- */
.CharacterShowPage {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	background-color: black;
	color: white;
}

.CharacterShowBody {
	display: flex;
	justify-content: center;
	align-items: center;
}

.CharacterShowContainer {
	background-color: red;
	border-radius: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 40vh;
	width: 70vw;
	padding: 5%;
}

.CharacterShowData {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.CharacterShowImage {
	justify-content: flex-start;
	padding-right: 10%;
}

.CharacterShowInfoText {
	border-left: 5px solid white;
	height: 40vh;
	width: 50vw;
	overflow: hidden;
    overflow-y: scroll;
	padding-left: 5%;
}

.CharacterShowNameText {
	font-size: 2em;
	padding-bottom: 5%;
}

.AttributionContainer {
	margin-top: 5%;
}

.BackButton {
	background-color: red;
	border: 1px solid red;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	margin-top: 5%;
}

/* ----------MEDIA QUERY (PHONE)----------- */
@media screen and (max-width: 600px) {

	/* CHARACTER LIST */
	.CharacterTitleText {
		margin-top: 20%;
	}

	.CharacterList {
		min-width: 100%;
	}

	/* CHARACTER SHOW */
	.CharacterShowContainer {
		height: 65vh;
		width: 70vw;
		margin-top: 10%;
	}

	.CharacterShowData {
		flex-direction: column;
		margin-top: 125%;
	}

	.CharacterShowImage {
		padding-right: 0;
	}

	.CharacterShowInfoText {
		border-left: none;
		height: 70vh;
		width: 60vw;
		overflow: hidden;
    	overflow-y: scroll;
		padding-left: 0;
	}
}