@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.Header {
	display: flex;
	justify-content: center;
	background-color: white;
}

.App {
  	text-align: center;
}

.Footer {
	display: flex;
	justify-content: center;
}

.FooterText {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	margin: 2% auto;
	text-align: center;
	position: absolute;
	bottom: 0;
}

/* ----ComicsListPage Styling---- */
.ComicsListPage {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	background-color: black;
	color: white;
}

.Header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	background-color: white;
}

.ComicsPageTitle {
    margin: 2%;
	margin-top: 12%;
}

.ComicsPageTitleText {
    font-size: 2em;
    color: white;
}

.ResultsContainer {
	background: black;
	display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
	margin-top: 3%;
	padding-bottom: 5%;
}

.ResultsList {
	border-radius: 15%;
	display: flex;
    flex-direction: column;
    padding: 3%;
	opacity: .9;
}

.ResultsList:hover {
	/* background-color: red;
	box-shadow: 0 2px 20px red; */
	opacity: 1;
	transform:scale(110%);
}

.ResultsList:active {
	transform: translateY(4px);
}

img {
	border-radius: 2%;
}

.ComicsListContainer {
	background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
	padding-bottom: 2%;
}

.ComicList {
    display: flex;
    flex-direction: column;
	opacity: .9;
    padding: 2%;
}

.ComicList:hover {
	opacity: 1;
	transform: scale(110%);
}

.ComicList:active {
	transform: translateY(4px);
}

.ComicName {
	color: white;
}

.NextButton {
	background-color: red;
	border: 1px solid red;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

/* ----CHARACTERSHOWPAGE STYLING---- */
.ComicShowPage {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	background-color: black;
	color: white;
}

.ComicShowData {
	background-color: red;
	border-radius: 5%;
	margin: auto 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 5%;
}

.ComicShowImage {
	justify-content: flex-start;
	padding-right: 10%;
}

.ComicShowInfoText {
	border-left: 5px solid white;
	height: 75%;
	width: 50%;
	padding-left: 5%;
}

.ComicShowTitleText {
	font-size: 2em;
	padding-bottom: 5%;
}

.BackButton {
	background-color: red;
	border: 1px solid red;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	margin-top: 5%;
}