@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  	text-align: center;
}

.AppBody {
	background-color: black;
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.HomePageButton {
	align-items: center;
	text-decoration: none;
	color: red;
}

.TitleText {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 2em;
	color: white;
}

.Marvel {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size: 6em;
	color: red;
}

.Marvel:hover {
	font-size: 8em;
}

.Footer {
	background-color: black;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.FooterContainer {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	margin: 1% auto;
	width: 100vw;
	position: absolute;
	bottom: 0;
}

.FooterGHImg {
	text-align: center;
	padding-bottom: 1%;
	padding-right: 5%;
	height: 24px;
}

.FooterText {
	color: white;
	margin: auto 1%;
}

.FooterLIImg {
	text-align: center;
	padding-bottom: 1%;
	margin-left: 5%;
	height: 24px;
}

/* ----HOME PAGE STYLING---- */
.HomePage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: black;
	color: white;
}

.Header {
	display: flex;
	justify-content: center;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 1;
}

.NavBar {
	background-color: white;
	width: 100vw;
	text-align: center;
	padding: 1%;
}

.NavLink {
	color: red;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 10vh;
	text-decoration: black;
}

.HomePageTitle {
	text-align: center;
}

.HomePageLinkContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.span {
	padding: 2%;
	font-size: 3em;
}

.HomePageLinks {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 2em;
	color: white;
	text-decoration: none;
}

.HomePageLinks:hover {
	text-decoration: underline red;
}

.HomePageLinks:active {
	color: red;
	transform:scale(105%);
}

/* ----CharacterListPage Styling---- */
.CharactersListPage {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	background-color: black;
	color: white;
}

.CharacterName {
	color: white;
}

.Header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	background-color: white;
}

/* ----CHARACTERSHOWPAGE STYLING---- */
.CharacterShowPage {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	background-color: black;
	color: white;
}

/* ----COMICSLISTPAGE STYLING---- */
.ComicsListPage {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	background-color: black;
	color: white;
}

.Header {
	display: flex;
	justify-content: center;
	background-color: white;
}

/* ----COMICSHOWPAGE---- */
.ComicShowPage {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	background-color: black;
	color: white;
}